In [94]:
#Import pandas and load the file into a DataFrame 
import pandas as pd

In [95]:
df_gpl16570 = pd.read_csv("GPL16570.txt", sep="\t", dtype=str, low_memory=False)

In [96]:
num_rows = df_gpl16570.shape[0]
print(f"Number of rows: {num_rows}")

Number of rows: 41801

In [97]:
#select required columns to create a new dataframe
df_gpl16570_selected = df_gpl16570[["ID", "gene_assignment"]]

In [98]:
num_rows = df_gpl16570_selected.shape[0]
print(f"Number of rows: {num_rows}")

Number of rows: 41801

In [99]:
#remove null data(na/---) and put it into a new dataframe
df_gpl16570_annotation = df_gpl16570_selected.dropna(subset=["gene_assignment"])
df_gpl16570_annotation = df_gpl16570_annotation[df_gpl16570_annotation["gene_assignment"] != "---"]

In [100]:
num_rows = df_gpl16570_annotation.shape[0]
print(f"Number of rows: {num_rows}")

Number of rows: 27037

In [101]:
#extract gene symbol from gene assignment by string split, save as a new dataframe
df_gpl16570_annotation["Gene Symbol"] = df_gpl16570_annotation["gene_assignment"].str.split(" // ").str[1]
df_gpl16570_genesymbol= df_gpl16570_annotation[["ID","Gene Symbol"]]

In [102]:
num_rows = df_gpl16570_genesymbol.shape[0]
print(f"Number of rows: {num_rows}")

Number of rows: 27037

In [126]:
# Download the Series Matrix file (Processed Data)
!wget https://ftp.ncbi.nlm.nih.gov/geo/series/GSE225nnn/GSE225001/matrix/GSE225001_series_matrix.txt.gz

--2025-03-21 01:20:32--  https://ftp.ncbi.nlm.nih.gov/geo/series/GSE225nnn/GSE225001/matrix/GSE225001_series_matrix.txt.gz
130.14.250.12, 130.14.250.11, 130.14.250.7, ...h.gov)...
connected. to ftp.ncbi.nlm.nih.gov (ftp.ncbi.nlm.nih.gov)|130.14.250.12|:443...
HTTP request sent, awaiting response... 200 OK
Length: 937104 (915K) [application/x-gzip]
Saving to: ‘GSE225001_series_matrix.txt.gz.3’

GSE225001_series_ma 100%[===================>] 915.14K  1.70MB/s    in 0.5s

2025-03-21 01:20:33 (1.70 MB/s) - ‘GSE225001_series_matrix.txt.gz.3’ saved [937104/937104]

In [127]:
# Load the Series Matrix file into pandas
df_expression = pd.read_csv("GSE225001_series_matrix.txt.gz", sep="\t", comment="!", compression="gzip",index_col=0)
df_expression = df_expression.reset_index().rename(columns={"index": "ID"})  # Ensure 'ID' is a column

In [128]:
df_expression.head()

,ID_REF,GSM7036843,GSM7036844,GSM7036845,GSM7036846,GSM7036847,GSM7036848,GSM7036849,GSM7036850,GSM7036851,GSM7036852,GSM7036853,GSM7036854
0,17210850,4.99,6.96,6.06,4.17,4.32,4.66,7.78,10.85,4.66,5.50,4.29,6.54
1,17210852,6.36,6.32,7.06,6.28,5.43,5.98,5.50,8.11,7.78,6.96,5.31,6.06
2,17210855,770.69,803.41,843.36,849.22,942.27,792.35,861.08,935.76,855.13,809.00,765.36,849.22
3,17210869,436.55,369.65,424.61,413.00,418.77,487.75,410.15,471.14,330.84,461.44,464.65,424.61
4,17210883,12.47,13.36,15.03,15.03,10.13,13.09,15.35,22.63,16.11,14.83,17.51,15.14

In [129]:
num_rows = df_expression.shape[0]
print(f"Number of rows: {num_rows}")

Number of rows: 34472

In [130]:
df_gpl16570_genesymbol.head()

         ID Gene Symbol
2  17210855      Lypla1
3  17210869       Tcea1
5  17210887     Atp6v1h
6  17210904       Oprk1
7  17210912      Rb1cc1

In [131]:
df_expression.rename(columns={"ID_REF": "ID"}, inplace=True)

In [132]:
df_expression.head()

,ID,GSM7036843,GSM7036844,GSM7036845,GSM7036846,GSM7036847,GSM7036848,GSM7036849,GSM7036850,GSM7036851,GSM7036852,GSM7036853,GSM7036854
0,17210850,4.99,6.96,6.06,4.17,4.32,4.66,7.78,10.85,4.66,5.50,4.29,6.54
1,17210852,6.36,6.32,7.06,6.28,5.43,5.98,5.50,8.11,7.78,6.96,5.31,6.06
2,17210855,770.69,803.41,843.36,849.22,942.27,792.35,861.08,935.76,855.13,809.00,765.36,849.22
3,17210869,436.55,369.65,424.61,413.00,418.77,487.75,410.15,471.14,330.84,461.44,464.65,424.61
4,17210883,12.47,13.36,15.03,15.03,10.13,13.09,15.35,22.63,16.11,14.83,17.51,15.14

In [133]:
num_rows = df_expression.shape[0]
print(f"Number of rows: {num_rows}")

Number of rows: 34472

In [134]:
df_expression["ID"] = df_expression["ID"].astype(str)

In [135]:
# Merge expression data with annotation
df_merged = df_expression.merge(df_gpl16570_genesymbol, on="ID", how="left")

In [136]:
num_rows = df_merged.shape[0]
print(f"Number of rows: {num_rows}")

Number of rows: 34472

In [137]:
df_merged.head()

,ID,GSM7036843,GSM7036844,GSM7036845,GSM7036846,GSM7036847,GSM7036848,GSM7036849,GSM7036850,GSM7036851,GSM7036852,GSM7036853,GSM7036854,Gene Symbol
0,17210850,4.99,6.96,6.06,4.17,4.32,4.66,7.78,10.85,4.66,5.50,4.29,6.54,NaN
1,17210852,6.36,6.32,7.06,6.28,5.43,5.98,5.50,8.11,7.78,6.96,5.31,6.06,NaN
2,17210855,770.69,803.41,843.36,849.22,942.27,792.35,861.08,935.76,855.13,809.00,765.36,849.22,Lypla1
3,17210869,436.55,369.65,424.61,413.00,418.77,487.75,410.15,471.14,330.84,461.44,464.65,424.61,Tcea1
4,17210883,12.47,13.36,15.03,15.03,10.13,13.09,15.35,22.63,16.11,14.83,17.51,15.14,NaN

In [138]:
# Drop Probe ID and set Gene Symbol as index
df_merged.drop(columns=["ID"], inplace=True)
df_merged.set_index("Gene Symbol", inplace=True)

In [139]:
num_rows = df_merged.shape[0]
print(f"Number of rows: {num_rows}")

Number of rows: 34472

In [140]:
# If multiple probes map to the same gene, take the average expression
df_final = df_merged.groupby("Gene Symbol").mean()

In [141]:
num_rows = df_final.shape[0]
print(f"Number of rows: {num_rows}")

Number of rows: 24647

In [142]:
df_final.head()

,GSM7036843,GSM7036844,GSM7036845,GSM7036846,GSM7036847,GSM7036848,GSM7036849,GSM7036850,GSM7036851,GSM7036852,GSM7036853,GSM7036854
Gene Symbol,,,,,,,,,,,,
0610005C13Rik,424.61,362.04,396.18,261.38,284.05,272.48,342.51,319.57,364.56,330.84,344.89,385.34
0610007C21Rik,413.00,380.04,401.71,335.46,367.09,249.00,357.05,352.14,410.15,390.72,413.00,430.54
0610007L01Rik,362.04,354.59,385.34,666.29,584.07,580.04,501.46,401.71,357.05,421.68,504.95,560.28
0610007N19Rik,36.50,40.22,44.32,48.50,34.54,35.26,30.70,37.53,29.24,39.40,32.90,34.06
0610007P08Rik,84.45,73.01,82.71,104.69,118.60,95.01,72.50,73.01,76.11,77.17,64.45,76.64

In [143]:
# Save the Processed Data
df_final.to_csv("GSE225001_gene_expression.csv")

In [144]:
# Z-score normalization for each gene (row)
df_normalized = df_final.copy()  # Make a copy to keep the original data
df_normalized.iloc[:] = df_final.iloc[:].apply(lambda x: (x - x.mean()) / x.std(), axis=1)

In [145]:
df_normalized.head()

,GSM7036843,GSM7036844,GSM7036845,GSM7036846,GSM7036847,GSM7036848,GSM7036849,GSM7036850,GSM7036851,GSM7036852,GSM7036853,GSM7036854
Gene Symbol,,,,,,,,,,,,
0610005C13Rik,1.667367,0.423983,1.102409,-1.576321,-1.125825,-1.355743,0.035885,-0.419976,0.474060,-0.196020,0.083180,0.886998
0610007C21Rik,0.773779,0.102775,0.543936,-0.804792,-0.160863,-2.564958,-0.365259,-0.465218,0.715759,0.320200,0.773779,1.130861
0610007L01Rik,-1.040390,-1.110060,-0.822496,1.804859,1.035964,0.998277,0.263421,-0.669409,-1.087055,-0.482656,0.296059,0.813487
0610007N19Rik,-0.077852,0.594358,1.335235,2.090568,-0.432028,-0.301922,-1.125922,0.108270,-1.389746,0.446183,-0.728378,-0.518764
0610007P08Rik,0.080657,-0.655060,-0.031244,1.382309,2.276873,0.759779,-0.687858,-0.655060,-0.455696,-0.387527,-1.205561,-0.421611

In [148]:
# Save the cleaned, filtered, and normalized data
df_normalized.to_csv("GSE225001_cleaned_normalized.csv", index=False)

In [149]:
df_normalized.head()

,GSM7036843,GSM7036844,GSM7036845,GSM7036846,GSM7036847,GSM7036848,GSM7036849,GSM7036850,GSM7036851,GSM7036852,GSM7036853,GSM7036854
Gene Symbol,,,,,,,,,,,,
0610005C13Rik,1.667367,0.423983,1.102409,-1.576321,-1.125825,-1.355743,0.035885,-0.419976,0.474060,-0.196020,0.083180,0.886998
0610007C21Rik,0.773779,0.102775,0.543936,-0.804792,-0.160863,-2.564958,-0.365259,-0.465218,0.715759,0.320200,0.773779,1.130861
0610007L01Rik,-1.040390,-1.110060,-0.822496,1.804859,1.035964,0.998277,0.263421,-0.669409,-1.087055,-0.482656,0.296059,0.813487
0610007N19Rik,-0.077852,0.594358,1.335235,2.090568,-0.432028,-0.301922,-1.125922,0.108270,-1.389746,0.446183,-0.728378,-0.518764
0610007P08Rik,0.080657,-0.655060,-0.031244,1.382309,2.276873,0.759779,-0.687858,-0.655060,-0.455696,-0.387527,-1.205561,-0.421611

In [150]:
num_rows = df_normalized.shape[0]
print(f"Number of rows: {num_rows}")

Number of rows: 24647