In [1]:
# Download the Series Matrix file (Processed Data)
!wget https://ftp.ncbi.nlm.nih.gov/geo/series/GSE225nnn/GSE225001/matrix/GSE225001_series_matrix.txt.gz

--2025-03-19 23:38:33--  https://ftp.ncbi.nlm.nih.gov/geo/series/GSE225nnn/GSE225001/matrix/GSE225001_series_matrix.txt.gz
130.14.250.12, 130.14.250.10, 130.14.250.31, ....gov)...
connected. to ftp.ncbi.nlm.nih.gov (ftp.ncbi.nlm.nih.gov)|130.14.250.12|:443...
HTTP request sent, awaiting response... 200 OK
Length: 937104 (915K) [application/x-gzip]
Saving to: ‘GSE225001_series_matrix.txt.gz’

GSE225001_series_ma 100%[===================>] 915.14K  1.70MB/s    in 0.5s

2025-03-19 23:38:34 (1.70 MB/s) - ‘GSE225001_series_matrix.txt.gz’ saved [937104/937104]

In [2]:
# Import pandas and load the file into a DataFrame
import pandas as pd

In [3]:
# Load the Series Matrix file into pandas
df = pd.read_csv("GSE225001_series_matrix.txt.gz", sep="\t", comment="!", compression="gzip")

In [4]:
# Show the first few rows to understand its structure
df.head()

,ID_REF,GSM7036843,GSM7036844,GSM7036845,GSM7036846,GSM7036847,GSM7036848,GSM7036849,GSM7036850,GSM7036851,GSM7036852,GSM7036853,GSM7036854
0,17210850,4.99,6.96,6.06,4.17,4.32,4.66,7.78,10.85,4.66,5.50,4.29,6.54
1,17210852,6.36,6.32,7.06,6.28,5.43,5.98,5.50,8.11,7.78,6.96,5.31,6.06
2,17210855,770.69,803.41,843.36,849.22,942.27,792.35,861.08,935.76,855.13,809.00,765.36,849.22
3,17210869,436.55,369.65,424.61,413.00,418.77,487.75,410.15,471.14,330.84,461.44,464.65,424.61
4,17210883,12.47,13.36,15.03,15.03,10.13,13.09,15.35,22.63,16.11,14.83,17.51,15.14

In [5]:
# Check for missing values
missing_data = df.isnull().sum()

In [7]:
print(missing_data)

ID_REF        0
GSM7036843    0
GSM7036844    0
GSM7036845    0
GSM7036846    0
GSM7036847    0
GSM7036848    0
GSM7036849    0
GSM7036850    0
GSM7036851    0
GSM7036852    0
GSM7036853    0
GSM7036854    0
dtype: int64

In [10]:
# Z-score normalization for each gene (row)
df_filtered = df.copy()
df_normalized = df_filtered.copy()  # Make a copy to keep the original data
df_normalized.iloc[:, 1:] = df_filtered.iloc[:, 1:].apply(lambda x: (x - x.mean()) / x.std(), axis=1)

In [11]:
df_normalized.head()

,ID_REF,GSM7036843,GSM7036844,GSM7036845,GSM7036846,GSM7036847,GSM7036848,GSM7036849,GSM7036850,GSM7036851,GSM7036852,GSM7036853,GSM7036854
0,17210850,-0.466298,0.545012,0.082992,-0.887249,-0.810246,-0.635705,0.965964,2.541965,-0.635705,-0.204487,-0.825647,0.329403
1,17210852,-0.077239,-0.121907,0.704457,-0.166576,-1.115779,-0.501589,-1.037609,1.877002,1.508488,0.592786,-1.249784,-0.412252
2,17210855,-1.216661,-0.640114,0.063831,0.167088,1.806688,-0.834998,0.376068,1.691977,0.271226,-0.541614,-1.310579,0.167088
3,17210869,0.236894,-1.279196,-0.033691,-0.296797,-0.166037,1.397190,-0.361384,1.020773,-2.158709,0.800952,0.873697,-0.033691
4,17210883,-0.848040,-0.556253,-0.008743,-0.008743,-1.615211,-0.644773,0.096170,2.482922,0.345336,-0.074313,0.804327,0.027321

In [12]:
# Save the cleaned, filtered, and normalized data
df_normalized.to_csv("GSE225001_cleaned_normalized.csv", index=False)